.preloader-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: #009FFF;
	background-image: linear-gradient(160deg, #009FFF, #ec2F4B);
	color: #fff;
	font-size: 70px;
	z-index: 99999;
}

.preloader{
	width: 60px;
	height: 60px;

	background: #002;
	border-radius: 50%;
	-webkit-animation: preloader 1.5s linear infinite alternate;
	animation: preloader 1.5s linear infinite alternate;
}


@-webkit-keyframes preloader{
	from{
		width: 60px;
		height: 60px;
	}
	to{
		width: 100px;
		height: 100px;
	}
}


@keyframes preloader{
	from{
		width: 60px;
		height: 60px;
	}
	to{
		width: 100px;
		height: 100px;
	}
}